ul li {display:inline; margin-left: 25px;}
#titre{
  text-align:center;
  background-color:  #d9d1cf ;
  color:  #908c8b ;
}
#footer{
    background-color:  #d9d1cf ;
    width: 100%;
    position: absolute;
    bottom: 0;
}
