<!--The content below is only a placeholder and can be replaced.-->
<div id="titre">
  <h1>
    {{title}}
  </h1>
</div>

<div style="margin-top: 30px; margin-bottom: 10px;">
  <ul>
    <li>
      <select placeholder="Matiere">
        <option *ngFor="let matiere of matieres" [value]="matiere">{{matiere}}</option>
      </select>
    </li>
  <li><button (click)="setMatiere()"> Valider </button></li>
  </ul>
</div>
<div *ngIf="show">
  <router-outlet></router-outlet>
</div>
<div id="footer">
    <h1>
      &nbsp;
    </h1>
</div>
