
<li>Date/ {{dateA}}</li>
<div class="sample-wrapper">
    <igx-grid #gridRowEdit [data]="data" [primaryKey]="'ID'" width="100%" height="400px"
        [rowEditable]="true">
        <igx-column field="ID" header="ID" width = "10%"></igx-column>
        <igx-column field="NumEtu" header="Numero Etudiant" [dataType]="'string'" width = "20%" [editable]="false"></igx-column>
        <igx-column field="nom" header="NOM" [dataType]="'string'" width = "30%" [editable]="false"></igx-column>
        <igx-column field="prenom" header="Prenom" [dataType]="'string'" width = "30%" [editable]="false"></igx-column>
        <igx-column field="absent" header="Absent?" [dataType]="'boolean'" width = "10%" [editable]="true"></igx-column>
    </igx-grid>
</div>
